# Default codeowners
*                                                                    @yoannmoinet

# Plugin owners
packages/plugins/telemetry                                           @DataDog/frontend-devx @yoannmoinet
packages/tests/src/plugins/telemetry                                 @DataDog/frontend-devx @yoannmoinet
