# Default codeowners
*                                                                     @yoannmoinet
.github/chainguard/**                                                 @yoannmoinet

# Plugin owners

# Build Report
packages/plugins/build-report                                         @yoannmoinet

# Bundler Report
packages/plugins/bundler-report                                       @yoannmoinet

# Git
packages/plugins/git                                                  @yoannmoinet

# Injection
packages/plugins/injection                                            @yoannmoinet

# Metrics
packages/plugins/metrics                                              @DataDog/frontend-devx @yoannmoinet

# Error Tracking
packages/plugins/error-tracking                                       @yoannmoinet

# Rum
packages/plugins/rum                                                  @DataDog/rum-browser @yoannmoinet

# Analytics
packages/plugins/analytics                                            @yoannmoinet

# Custom Hooks
packages/plugins/custom-hooks                                         @yoannmoinet

# True End
packages/plugins/true-end                                            @yoannmoinet

# Async Queue
packages/plugins/async-queue                                          @yoannmoinet

# Output
packages/plugins/output                                               @yoannmoinet

# Apps
packages/plugins/apps                                                 @yoannmoinet