dist
yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.vscode

src/__tests__/mocks/projects/**/dist
src/__tests__/mocks/projects/**/webpack-profile-debug
src/__tests__/mocks/projects/**/node_modules
